.card-front {
  position: relative;
  background-color: rgb(39, 39, 42); /* bg-zinc-800 */
  border-radius: 4.55% / 3.5%;
  border: 2px solid rgb(82, 82, 91); /* border-zinc-600 */
  mix-blend-mode: soft-light;
  transform: translate3d(0,0,0);
  backface-visibility: hidden;
  perspective: 1000px;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000px;
  background-image: 
    url('/img/cosmos-top-trans.png'),
    repeating-linear-gradient(0deg, 
      rgb(255, 119, 115) calc(var(--space) * 2),
      rgba(255, 237, 95, 1) calc(var(--space) * 4),
      rgba(168, 255, 95, 1) calc(var(--space) * 6),
      rgba(131, 255, 247, 1) calc(var(--space) * 8),
      rgba(120, 148, 255, 1) calc(var(--space) * 10),
      rgb(216, 117, 255) calc(var(--space) * 12),
      rgb(255, 119, 115) calc(var(--space) * 14)
    ),
    repeating-linear-gradient(var(--angle),
      #0e152e 0%,
      hsl(180, 10%, 60%) 3.8%,
      hsl(180, 29%, 66%) 4.5%,
      hsl(180, 10%, 60%) 5.2%,
      #0e152e 10%,
      #0e152e 12%
    ),
    radial-gradient(
      farthest-corner circle at var(--posx) var(--posy),
      rgba(0, 0, 0, .2) 12%,
      rgba(0, 0, 0, .3) 20%,
      rgba(0, 0, 0, .4) 120%
    );
  background-blend-mode: exclusion, hue, hard-light, exclusion;
  background-size: 50%, 200% 1400%, 300%, 200%;
  background-position: center, 50% var(--posy), var(--posx) var(--posy), var(--posx) var(--posy);
  background-repeat: var(--img-repeat), no-repeat, no-repeat, no-repeat;
  filter: brightness(calc((var(--hyp) * 0.3) + 0.5)) contrast(1.2) saturate(1.1);
  -webkit-filter: brightness(calc((var(--hyp) * 0.3) + 0.5)) contrast(1.2) saturate(1.1);
  opacity: 0.6;
  pointer-events: none;
}

.card-tilt {
  transform-style: preserve-3d;
  transform: perspective(1000px) rotateX(0deg) rotateY(0deg);
  width: 320px;
  height: 420px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: 2px solid #222;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.08);
}

.card-tilt svg {
  width: 320px;
  height: 420px;
} 